# ============================================================
# STACK: Notifications [PRODUCCION]             .env.example
# ------------------------------------------------------------
# - Apprise API: https://github.com/caronc/apprise-api
# ============================================================
COMPOSE_PROJECT_NAME=pro_notifications

# ------------------------------------------------------------
# Variables comunes
TZ=Europe/Madrid
APPDATA_DIR=/srv/containers/pro/notifications/data
PUID=1000
PGID=1000

# ------------------------------------------------------------
# Puertos
APPRISE_HOST_PORT=8000
APPRISE_CONTAINER_PORT=8000
