# Environment variables for the home stack
COMPOSE_PROJECT_NAME=pro_home
TZ=Europe/Madrid
SOCK=/var/run/docker.sock
LOCALTIME=/etc/localtime
DBUS=/run/dbus
NODERED_PORT=1880
MQTT_PORT=1883
ESPHOME_PORT=6052

# Optional: zigbee2mqtt commented service
ZIGBEE2MQTT_PORT=8080
ZIGBEE_ADAPTER=/dev/ttyACM0
TELEGRAM_TOKEN=replace_with_telegram_token
TELEGRAM_CHATIDS=replace_with_chat_ids
