# ============================================================
# STACK: Dashboard [PRODUCCION]                .env.example
# ------------------------------------------------------------
# - Homepage: https://gethomepage.dev/
# - Homarr:   https://homarr.dev/
# - Glances:  https://nicolargo.github.io/glances/
# ============================================================
COMPOSE_PROJECT_NAME=pro_dashboard
# ------------------------------------------------------------
# Variables comunes
TZ=Europe/Madrid
APPDATA_DIR=/srv/containers/pro/dashboard/data
SERVER_HOSTNAME=your-server-hostname
SOCK=/var/run/docker.sock
DRIVES_PATH=/srv/storage
PUID=1000
PGID=1000
# ------------------------------------------------------------
# Homepage
HOMEPAGE_ALLOWED_HOSTS=*
# ------------------------------------------------------------
# Homarr
HOMARR_KEY=replace_with_secure_key
# ------------------------------------------------------------
# Puertos
HOMEPAGE_HOST_PORT=3000
HOMEPAGE_CONTAINER_PORT=3000
HOMARR_HOST_PORT=7575
HOMARR_CONTAINER_PORT=7575
GLANCES_HOST_WEB_PORT=61208
GLANCES_CONTAINER_WEB_PORT=61208
GLANCES_HOST_API_PORT=61209
GLANCES_CONTAINER_API_PORT=61209
