# Environment variables for the media stack
COMPOSE_PROJECT_NAME=pro_media
TZ=Europe/Madrid
VPN_PROVIDER=protonvpn
VPN_USER=replace_with_user
VPN_PASSWORD=replace_with_password
SONARR_API_KEY=replace_with_api_key
RADARR_API_KEY=replace_with_api_key
LIDARR_API_KEY=replace_with_api_key
TRANSMISSION_PORT=9091
PROWLARR_PORT=9696
SONARR_PORT=8989
RADARR_PORT=7878
BAZARR_PORT=6767
LIDARR_PORT=8686
JELLYFIN_PORT=8096
JELLYFIN_DISCOVERY_PORT=7359
JELLYFIN_DLNA_PORT=7360
JELLYSEERR_PORT=5055
FLARESOLVERR_PORT=8191
READARR_PORT=8787
DOWNLOADS=/srv/downloads
WATCH=/srv/watch
MEDIA=/srv/media
TRANSCODE_CACHE=/srv/transcode
