# ============================================================
# STACK: Docker [PRODUCCION]                .env.example
# ------------------------------------------------------------
# - Autoheal:  https://github.com/willfarrell/docker-autoheal
# - Dozzle:    https://dozzle.dev/
# - DIUN:      https://crazymax.dev/diun/
# - Netdata:   https://www.netdata.cloud/
# - Portainer: https://www.portainer.io/
# - Scrutiny:  https://github.com/AnalogJ/scrutiny
# ============================================================
COMPOSE_PROJECT_NAME=pro_docker

# ------------------------------------------------------------
# Variables comunes
TZ=Europe/Madrid
APPDATA_DIR=/srv/containers/pro/docker/data
SERVER_HOSTNAME=cali-home
SOCK=/var/run/docker.sock
DRIVES_PATH=/srv/storage
PUID=1000
PGID=1000
LOCALTIME=/etc/localtime

# ------------------------------------------------------------
# DIUN
DIUN_WATCH_SCHEDULE="30 4 * * *"
TELEGRAM_TOKEN=replace_with_telegram_token
TELEGRAM_CHATIDS=replace_with_chat_ids

# ------------------------------------------------------------
# Puertos
DOZZLE_HOST_PORT=8081
DOZZLE_CONTAINER_PORT=8080
PORTAINER_HOST_PORT=9443
PORTAINER_CONTAINER_PORT=9443
SCRUTINY_HOST_PORT=8082
SCRUTINY_CONTAINER_PORT=8080
SCRUTINY_INFLUXDB_HOST_PORT=18086
SCRUTINY_INFLUXDB_CONTAINER_PORT=8086
NETDATA_HOST_PORT=19999
NETDATA_CONTAINER_PORT=19999
