# ============================================================
# FreshRSS stack - .env.example
# ============================================================

COMPOSE_PROJECT_NAME=pro_freshrss

TZ=Europe/Madrid
APPDATA_DIR=/srv/containers/pro/freshrss/data

FRESHRSS_HOST_PORT=8087
FRESHRSS_CONTAINER_PORT=80
FRESHRSS_CRON_MIN=4,34

