# ============================================================
# STACK: Automation [PRODUCCIÓN]                .env
# ------------------------------------------------------------
# - N8N: https://n8n.io/
# ============================================================
COMPOSE_PROJECT_NAME=pro_automation     # env_stackname
# ------------------------------------------------------------
# Container Environment common variables
TZ=Europe/Madrid
APPDATA_DIR=/srv/containers/pro/automation/data
SERVER_HOSTNAME=your-server-hostname
# ------------------------------------------------------------
# N8N Environment variables
N8N_PROTOCOL=http
N8N_SECURE_COOKIE=false
N8N_ENCRYPTION_KEY=ChangeThisToASecureRandomString=
N8N_PUBLIC_API_DISABLED=false
N8N_PUBLIC_API_ENDPOINT=api
N8N_METRICS=false
N8N_PERSONALIZATION_ENABLED=false
N8N_DIAGNOSTICS_ENABLED=false
N8N_EDITOR_BASE_URL=http://your-server-hostname:5678/
N8N_WEBHOOK_URL=http://your-server-hostname:5678/
# ------------------------------------------------------------
# Service Ports
N8N_HOST_PORT=5678
N8N_CONTAINER_PORT=5678
